<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <h2>Add New Contact</h2>
      <% if(err) { %>
        <div class="card text-white bg-danger">
          <div class="card-body">
            <%= err.message %>
          </div>
        </div>
        <br>
      <% } %>
      <form action="/students/<%= data.id %>/addsubject" method="post">
        <table class="table">
          <tr>
            <td>First Name</td>
            <td>:</td>
            <td><%= data.first_name %></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>:</td>
            <td> <%= data.last_name %> </td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td><%= data.email %></td>
          </tr>
          <tr>
            <td class="text-center" colspan="3">Choose Subject</td>
          </tr>
          <tr>
            <td class="text-center" colspan="3">
              <select name="subject" required>
                <option selected disabled>Please Choose Subject</option>
                <% subjects.forEach((element, index) => { %>
                      <option value="<%= element.id %>"><%= element.subject_name %></option>
                <% }) %>
              </select>
            </td>
          </tr>
          <tr>
            <td class="text-center" colspan="3"><input class="btn btn-primary" type="submit" name="submit" value="Submit"></td>
          </tr>
        </table>
      </form>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
