<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <h2>Add New Contact</h2>
      <% if(err) { %>
        <div class="card text-white bg-danger">
          <div class="card-body">
            <%= err.message %>
          </div>
        </div>
        <br>
      <% } %>
      <form action="/students/edit/<%= data.id %>" method="post">
        <table class="table">
          <input type="hidden" name="id" value="<%= data.id %>">
          <tr>
            <td>First Name</td>
            <td>:</td>
            <td><input type="text" name="first_name" value="<%= data.first_name %>" required></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>:</td>
            <td><input type="text" name="last_name" value="<%= data.last_name %>" required></td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td><input type="text" name="email" value="<%= data.email %>" required></br></td>
          </tr>
          <tr>
            <td colspan="3"><input class="btn btn-primary" type="submit" name="submit" value="Update"></td>
          </tr>
        </table>
      </form>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
