<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <% if(err) { %>
        <div class="card text-white bg-danger">
          <div class="card-body">
            <%= err.message %>
          </div>
        </div>
        <br>
      <% } %>
      <table id='enrolledstudents' class="display" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <% if (subject.Students.length > 0) { %>
            <% subject.Students.forEach(student => { %>
            <tr>
              <td><%= student.getFullName() %></td>
              <td>
                <% if(student.StudentSubject.score) { %>
                  <%= student.StudentSubject.score %>
                <% } else { %>
                  <a href="/subjects/<%= subject.id %>/<%= student.id %>/givescore">Give Score</a>
                <% } %>
              </td>
            </tr>
            <% }) %>
          <% } else { %>
            <tr>
              <td colspan="2">No Record Available</td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <% include ./partials/footer %>
    <script>
      $(document).ready(function(){
          $('#enrolledstudents').DataTable();
      });
    </script>
  </body>
</html>
